
<p id="notice"><%= notice %></p>
<h3>Study these answers to ace your interview!</h3>
<br \>

<div class="answer_field center">
	<% @user.answers.each do |a| %>
		<h4><%= a.question.question %>:</h4>
		<p><%= a.answer %></p>
	<% end %>
</div>

<br \>

<h3>Let us know what we can do to make Preptly better, <%= link_to 'Contact Us Here', contact_path %>!</h3>

