<% @jobs.question.each do |q| %>
	<%= form_for(@answer, :url => job_answers_path(@job)) do |f| %>
	  <div class="field">
	    <%= f.label :answer %><br />
	    <%= f.text_area :answer %>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
